$font-size-base: 10;

// RWD Media Queries
$break-x-small: 320px;
$break-small:   480px;
$break-mid:     768px;
$break-large:   1080px;

$font-family-english: 'Open Sans'; // Google open sans
$font-family-chinese: 'Microsoft JhengHei'; 
$font-family-notosanstc: 'Noto Sans SC'; 

// Grid 
$container-width: 100% !default;